#!/bin/bash
# shellcheck disable=SC1091
if [[ -f .env ]]; then
  dotenv .env
fi

export REPO=$PWD
export VIRTUAL_ENV=$REPO/.venv
path_add PATH $VIRTUAL_ENV/bin
if [ ! -x "$VIRTUAL_ENV/bin/devservices" ]; then
  printf >&2 '\033[33mNOTE: please run `make`\033[m'
fi
